<footer class="site-footer">
	<div class="col-xs-12">
		<div class="text-muted">
			<section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2015 &bull; All rights reserved. Proudly published with <a href="http://ghost.org">Ghost</a></section>
		</div>
	</div>
</footer>