<!-- sidebar -->
{{#if @blog.logo}}
<div>
	<figure class="blog-image">
		<a class="img" id="blog-logo" href="{{@blog.url}}" style="background-image: url({{@blog.logo}})" title="{{@blog.description}}" data-toggle="tooltip" data-placement="auto">
			<span class="hidden">{{@blog.title}}</span>
		</a>
	</figure>
</div>	
{{/if}}
<div class="blog-tags-wrapper">
	<div id="blog-tags" class="post-meta"></div>
</div>
