{{!< default}}

<main class="content" role="main">
  <div class="row">
    
    {{#if post.image}}  
    <div class="col-xs-12 athena-hero">
      <picture>
        <img srcset="{{post.image}}" alt="{{post.excerpt}}">
      </picture>
      <h2>{{#if post.featured}}<span class="fa fa-star-o" title="The author {{author.name}} flagged this article as a featured post!" data-toggle="tooltip" data-placement="auto"></span> {{/if}}{{post.title}}</h2>
    </div>
    {{/if}}
  
    <div class="col-xs-12 posts">
      <div class="row">
                
        <div class="col-xs-12">
          <div class="row">
            {{> article}}
            </div>
        </div>
                
      </div>    
    </div>
  </div>
</main>


