$chalk : #999;
$washed-blue: #d9edf7;
$washed-blue-text:#31708f;
$ocean-blue-rgba: rgba(46,109,164,1.0);
$ocean-blue-hex: #2e6da4;
$sky-blue:#428bca;
$salmon: #FFE4C4;

@mixin hidden() {
    display: none;
    visibility: hidden;
}

@mixin transition($secs){
    transition: $secs;
    -webkit-transition: $secs; /** Chrome & Safari **/
    -moz-transition: $secs; /** Firefox **/
    -o-transition: $secs; /** Opera **/
}

@mixin border-box(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin excerpt-hover(){
    background-color: $washed-blue;
    color: $washed-blue-text;
    @include transition(all 0.75s ease-in-out);
}

/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
     1. Fonts
     2. General
     3. Utilities
	 4. Site
	 5. Site Header
	 6. Posts
	 7. Pagination
	 8. Social
	 9. Sidebar
	10. Site Menu
    11. Tooltips
    12. Code Blocks
*/

/* 01. Fonts */
	@font-face {
		font-family: 'Glyphicons Halflings';
		src: url('../fonts/glyphicons-halflings-regular.eot');
		src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* 02. General */

html {
    height: 100%;
    max-height: 100%;
	font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: Calibri, Tahoma, sans-serif;
    background-color: $ocean-blue-hex;
    @media screen and (min-width:767px){
       background:linear-gradient(to bottom, $sky-blue, $ocean-blue-hex,$ocean-blue-hex,$sky-blue);
    }
}

::-moz-selection {
    background: $chalk;
	color: #fff;
}

::selection {
    background: $chalk;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, footer, header {
	font-family: Consolas, Courier, monospace;
	color: $sky-blue;
	margin-top:0px;
}

h1, h2, h3, h4, h5, h6{
    text-transform: lowercase;
}

p, ul, ol, dl {
    -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision;
}

ol, ul {
    padding-left: 3rem;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0 0 0.4em 0;
    padding-left: 2em;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 1em;
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

li {
    margin: 0.4em 0;
}

li li {
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #EFEFEF 1px solid;
    margin: 3.2em 0;
    padding: 0;
}

blockquote {
    @include border-box();
    margin: 1.75em 0em 0em 0em;
    padding: 0 0 0 1.75em;
	border-left: 0.2em solid #bce8f1;
    
    p {
        margin: 0.8em 0;
        font-style: italic;
    }
    
    small {
        display: inline-block;
        margin: 0.8em 0 0.8em 1.5em;
        font-size: 0.9em;
        color: #CCC;
    }
    small:before {
        content: "\2014 \00A0";
    }
    cite {
        font-weight: 700;
        a {
            font-weight: normal;
        }
    }
}

mark {
    background-color: #fdffb6;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    @include border-box();
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: $salmon;
    code, tt {
        font-size: inherit;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
    }
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #CCC 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: 700;
    background: #F4F4F4;
    border-radius: 4px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 0 #fff inset;
}

/* 03. Utilities */


/* 04. Site */

main.content > div {
	background-color:#fff;
}

#blog-logo img {
	max-width:100%;
	height:auto;
}

.blog-title {
	text-align: center;
}

.blog-description {
	margin-bottom: 2em;
}

div.athena-hero
{
	padding-right:0px;
	padding-left:0px;
    position:relative;
    > picture > img {
        width: 100%;
        height:auto;
    }
    
    h2 {
        position: absolute;
        color: $washed-blue;
        bottom: -2px;
        padding-bottom: 2px;
        width: 100%;
        margin-bottom: 0px;
        text-align: center;
        padding-right: 0.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $ocean-blue-rgba, rgba(255, 255, 255, 0));
        
        @media screen and (min-width: 767px){
            font-size: 2.6em;
        }
    }
    
    > div {
        position: absolute;
        color: #fff;
        top: 20px;
        right: 0;
        width: 50%;
        text-align: left;
        padding-right: 1em;
        font-style: italic;
        opacity: .8;
        @media screen and (max-width: 767px) and (orientation:portrait){
            @include hidden();
        }
        @media screen and (min-width: 767px){
            font-size: 1.3em;
            display: block;
            visibility: visible;
        }
    }
}

/* 05. Posts */
.posts article.post {
    margin-top: 1em;
    position: relative;
    @media screen and (min-width: 767px) {    
        min-height: 12em;
    }
}

article.post {
    > header > h3 {
        @media screen and (max-width:767px){
            border-top: 1px dotted $chalk;
            padding-top:3px;    
        }
    }        
}

@media screen and (min-width: 767px) {
	main div.posts {
		border-left:1px solid $chalk;
	}
}

h1.post-title.page-header{
	padding-top:10px;
}

.post.no-bottom-border {
	border-bottom: 0px;
}

.post-excerpt {
    position: relative;
    z-index: 1;
    padding: 1px;
    
    @media screen and (min-width:985px){
        min-height:12em;
        p::first-line {
            color: $sky-blue;
            font-weight: bold;
        }
    }
    
    @media screen and (min-width:767px) and (max-width:984px){
        min-height: 6em;
        p::first-line {
            color: $sky-blue;
            font-weight: bold;
        }
    }
    
    @media screen and (max-width:767px){
        min-height: 3em;
        p::first-line {
            font-weight: normal;
        }
    }
    
    a{
        color:#333;
        p:first-letter {
            float: left;
            color: $washed-blue;
            font-size: 3em;
            margin-top:-10px;
            padding-right:3px;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
            text-shadow: 1px 1px $sky-blue;
        }
    }
    
    a:hover {
        text-decoration: none;
    }
    
    p:hover{
        @include excerpt-hover()
    }
}

.post-excerpt:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .4; 
    z-index: -1;
    background-position: center center;
    
    @media screen and (min-width:985px){
        min-height:12em;
    }
    
    @media screen and (min-width:767px) and (max-width:984px){
        min-height: 6em;
    }
}



.post-excerpt[data-has-image] {
    @media screen and (min-width:767px){
        p {
            background-color: $washed-blue;
            color: $washed-blue-text;
            padding-top: 3px;
            padding-bottom: 3px;
            border-bottom: 1px dotted $chalk;
        }
    
        p:first-letter {
            float: left;
            color: #fff;
            font-size: 3em;
            margin-top:-10px;
            padding-right:3px;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
            text-shadow: 1px 1px $washed-blue-text;
        }
        
        p::first-line {
            color: $washed-blue-text;
            font-weight: bold;
        }  
    }  
}


.post-template .post {
	min-height: 480px;
}

.post-content {
	margin-bottom: 2em;
}

.post-footer .author {
	min-height: 50px;
}

.page-header {
	margin: 0 0 0 0;
	border-bottom: 0px;
}

.blog-tags-wrapper{
    @media screen and (max-width:979px){
        @include hidden();
    }
}

#blog-tags {
    border:0;
    padding: 0.2em;
    a {
        display: block;
        font-size: 1.0em;
    }
}

.post-meta {
    text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 1px;
	padding-bottom: 1em;
    a {
        background-color: $ocean-blue-hex;
        color: #fff;
        padding: 3px 6px 3px 6px;
        position: relative;
        display: inline-block;
    }
    
    a:before {
        content: '\e041';
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        margin-right:3px;
    }
    
    a:hover, a:focus {
        color: #fff;
        background-color: $chalk;
        text-decoration: none;
    }
    
    a.active:before {
        content: '\e044';
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        margin-right:3px;
    }
    
    a.active:active {
        background-color: #FFE4C4;
        color: #999;
        font-weight: bold;  
    }
    
    a.active:hover {
        background-color: #FFE4C4;
        color: #999;
        font-weight: bold;  
    }
    
    @media (min-width:767px) {
        a {
            margin: 3px 3px 3px 0px;
            @include transition(all .15s ease-in-out);
        }
    
        > span {
            margin-right: 6px;
        }
            
        a:hover, a:focus {
            z-index: 100;
            transform: scale(1.1,1.1);
            box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
            @include transition(all .15s ease-in-out);
        }
    }
}

.next-post > div.well, .prev-post > div.well{
    display: inline-block;
    width: 100%;
    position: relative;
    text-overflow: clip;
    min-height: 100px;
    
    @media screen and (min-width:984px){
        min-height: 150px;
    }
    
    @media screen and (min-width:767px) and (max-width:984px){
        /* min-height: 150px; */
    }
    
    > div {
            > span {
                position: absolute;
                right: 0px;
            }
            h2 {
                font-size: 18px;
                max-width: 80%; 
            }
            p{
                margin-bottom:0px;
            }
            > div {
                position: absolute;
                right: 15px;
                bottom: 0px;
                margin: 3px;
                font-family: Consolas, Courier, monospace;
                font-size: 0.9em;
                text-align: right;
                color: $chalk;
                min-width: 20%;
                .fa {
                    margin-right:6px;
                }
            }
        }
}

.prev-post > div.well:hover, .next-post > div.well:hover{
    @include excerpt-hover()
}

.prev-post > div.well
{    
    > div {
        > span{
            left: 0px;
            padding-left: 15px;
        }
        h2 {
            float:right;
            min-width: 25%;
            text-align: right;
        }
        p{
            float: left;
            margin-bottom: 0.5em;
        }
    }
}

.next-post > div.well
{
    > div {
            > span {
                right: 0px;
                padding-right: 15px;
            }
            h2 {
                float:left;
                min-width: 25%;
                text-align: left;
            }
            p{
                float: left;
                margin-bottom: 0.5em;
            }
            > div {
                left: 15px;
                right: 0px;
                text-align: left;
            }
        }
    
    @media screen and (min-width:767px){
        > div {
            > span {
                left: 0px;
                padding-left: 15px;
                padding-right: 0px;
            }
            h2 {
                float:right;
                text-align: right;
            }
             > div {
                left: 0px;
                right: 15px;
                text-align: right;
            }
        }
    }
}

/* 06. Site Header */

header.post-header {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;   
}

/* 7. Site Footer */
.site-footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-footer section.copyright > a {
	color: $washed-blue;
}

/* 07. Pagination */

.page-number {
	margin-left: 10px;
}

/* 08. Social */
.author-image{
    @include border-box();
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;
    
    .img {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
    }
}

.blog-image {
    @include border-box();
    display: inline-block;
    width: 120px;
    height: 120px;
    @media screen and (max-width:767px){
        @include hidden();
    }
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    margin-top: 2px;
    .img {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
}

section.author .well, section.share .well {
	text-align:center;
    background-color: $washed-blue;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(46,109,164,0.1); 
    box-shadow: inset 0 1px 1px rgba(46,109,164,0.1);
    h4{
        text-transform: none;
    }
}

section.share {
	min-height: 50px;
    
    .well h4 {
        @include hidden();
    }
    
    .btn-group {
        a {
            background-color: $ocean-blue-hex;
            color: white;
            text-align: center;
            border:0px;
        }
        a.fa-twitter {
            background-color: #00aced;
        }
        a.fa-facebook {
            background-color: #3b5998;
        }
        
        a.fa-google-plus {
            background-color: #dd4b39;
        }
        
        a.fa:hover{
            opacity: 0.75;
        } 
    }
}



section.author .well > div {
	display: inline-block;
}

@media screen and (min-width:767px){
	section.share .well h4 {
		visibility: visible;
		display: block;
	}
	
	section.author .well, section.share .well {
		min-height: 140px;
	}
}

/* 09. Sidebar */
// none required

/* 10. Site Menu */
.navbar {
    border-radius: 0;
}

nav > div.navbar-header > button:nth-child(1){
    float:left;
    margin-left:15px;
    border: 0px;
}

button.navbar-toggle span.fa.fa-home{
    color: #fff;
    font-size: 20px;
}

button.navbar-toggle span.fa.fa-home:hover{
    color: $washed-blue-text;
}

.navbar-athena {
    margin-bottom: 0px;
    border: 0px;
    background: transparent;
    
    .fa-caret-down:before {
        content: "\f0d7";
        margin-left: 6px;
    }
    .navbar-text {
        color: #fff;
    }
    .navbar-nav li a {
        color: #fff;
    }
    .navbar-nav li a:hover,
    .navbar-nav li a:focus {
		background-color: $washed-blue;
		color: $washed-blue-text;
	}

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:focus{
        color: #fff;
        font-size: 2em;
        @media screen and (min-width: 767px) {
            margin-top: 5px;
        }
    }
    a.navbar-brand:hover,
    a.navbar-brand:focus{
        color: $washed-blue;
    }
    
    .navbar-toggle {
        border-color: $washed-blue;
        color: #fff;
        .icon-bar {
            background-color: #fff;
        }
    }
    
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: $washed-blue;
        color:$washed-blue-text;
    }
    
    .dropdown-menu{
        background-color: $ocean-blue-hex;
        font-size: 12px;
    }
    
    @media screen and (min-width: 767px) {
        .navbar-collapse.collapse{
            margin-left:-15px;
        }
        
        .navbar-brand, .navbar-nav li > a, .navbar-brand > a {
            line-height: 50px;
            height: 50px;
            padding-top: 0px;
        }
        .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
            line-height: 40px;
            height: 40px;
            margin-top: 5px;
        }
    }
}

/* 11. Tooltips */
.tooltip > .tooltip-inner {
	color: $washed-blue-text;
    background-color: $washed-blue;
    border-color: #bce8f1;
    padding: 15px;
    font-size: 1.2em;
	text-transform: none;
}

.tooltip.top > .tooltip-arrow, .tooltip.left > .tooltip-arrow, .tooltip.right > .tooltip-arrow, .tooltip.bottom > .tooltip-arrow {
	border-top: 5px solid $ocean-blue-hex;
}

/* 12. Code Blocks */
pre[class*=language-] {
    background: $salmon !important;
}

pre[class*=language-]>code[data-language] {
    overflow: visible;
    max-height: 28em;
    display: inline-block;
}
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url, .token.variable{
    color: $washed-blue-text;
    background-color: transparent;
}

pre[class*=language-]>code[data-language]::before {
    color:$washed-blue; // #000
    background-color:$washed-blue-text;// #CFCFCF;
}
